<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/koniin/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="koniin" />
            <add key="ClearTextPassword" value="INSERT_GITHUB_ACCESS_TOKEN" />
        </github>
    </packageSourceCredentials>
</configuration>